@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(242, 242, 242);
}

.fontPoppins {
  font-family: "Poppins", sans-serif;
}

.labelPicture {
  position: absolute;
  top: -5px;
  right: -5px;
  transition: all 1s ease;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.labelPicture:hover {
  background-color: rgba(206, 245, 206, 0.516);
}
